@import '../../../assets//shared_sass/colors_and_constants.scss';
@import '../../../assets/shared_sass/gird.scss';


// .CarouselItem+.CarouselItem {
// }

.CarouselItem {
    margin-left: 15px;
    display: inline-block;
    width: 290px;
    background: #FFFFFF 0% 0%;
    border-radius: 5px;
    border: 1px solid $bluel;
    opacity: 1;

    @media only screen and (min-width: 768px) {
        width: 320px;
    }

    &:last-of-type {
        margin-right: 15px;
    }

    &.Active {

        &:before,
        &:after {
            margin: 0 auto;
            width: 275px;
            background-color: $orange;
            display: block;
            position: absolute;
            margin-left: 5px;
            content: " ";

            @media only screen and (min-width: 768px) {
                width: 310px;
            }
        }

        &:before {
            border-radius: 5px 5px 0 0;
            top: -10px;
            height: 11px;
        }

        &:after {
            border-radius: 0 0 5px 5px;
            bottom: -4px;
            height: 5px;
        }
    }

    // Cards' Sections
    header {
        h1 {
            font-size: 26px;
            top: 712px;
            color: $blued;
            text-align: center;
            letter-spacing: 0;
            font-weight: Bold;
        }
    }

    header,
    section {
        text-align: center;
        padding: 20px 14px
    }

    header+section,
    section+section {
        border-top: 1px solid $bluel;
    }

    .ValoresArea {
        &>a {
            margin: 20px auto;
        }

        p {
            margin: 5px auto;
        }
    }

    .InfoArea {
        text-align: left;

        span {
            border-bottom: 1px dashed $bluel;

        }

        a {
            margin-left: 5px;
            color: $black;
        }
    }

    //  Styles txts values
    .OldValue {
        text-decoration: line-through;
    }

    .PerMonth {
        font-size: 20px;
        color: $blued;

        span {
            font-size: 30px;
            font-weight: bold;
            ;
        }
    }

    // Btns
    .BtnInfo {
        margin-left: 5px;
        padding: 0;
        border-radius: 100%;
        box-shadow: none;
        border: 0;
        height: 20px;
        width: 20px;

        &:hover {
            img {
                transform: scale(1.1);
            }
        }

        img {
            width: 100%;
            height: auto;
            margin-bottom: -3px;
        }
    }

    .DiscontTxt {
        font-size: 14px;
        color: $bluen;
    }

    .SmText {
        font-size: 15px;
    }

    .XsText {
        font-size: 13px;
    }

}