@import '../../assets//shared_sass/colors_and_constants.scss';
@import '../../assets/shared_sass/gird.scss';

.RoundLabel {
    font-size: 14px;
    padding: 4px 11px;
    background: $bluen;
    border-radius: 50px;
    letter-spacing: 0;
    font-weight: bold;
    color: white;
    text-align: center;
    display: inline-block;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
    }

    &.Green {
        background: $green;

        &:hover {
            background: darken($green, 10);
        }
    }

    &.Orange {
        background: $orange;

        &:hover {
            background: darken($orange, 10);
        }
    }

    &.Blue {
        background: $bluen;

        &:hover {
            background: darken($bluen, 10);
        }
    }

    &.Full {
        width: 100%;
    }
    &.LeftSide {
        margin-right: 5px;
    }
    &.RightSide {
        margin-left: 5px;
    }
}